{% extends 'base.html.twig' %}
{% block title %} ToDo List {% endblock %}
{% block body %}
Congrats! You create a new task - <a href="{{ path('task_update', {"id":task.id}) }}"><b>{{ task.task }}!</b></a></p>
<br/><p>
<a href="{{ path('task_new') }}"> Create new task</a><br>
<p>
    <a href="{{ path('showAll') }}"> Show all tasks</a><br>
    <a href="{{ path("show_category") }}">Show all categories</a><br>

{% endblock %}